.profile-info h6 {
  font-weight: 600;
  font-size: 14px;
}

.profile-info p {
  font-size: 12px;
}

.side-bar-profile {
  width: 4rem;
  height: 4rem;
}

.suggestions h6 {
  font-weight: 600;
  font-size: 14px;
}

.suggestions p {
  font-size: 14px;
}

.suggestions .btn-link {
  font-size: 14px;
}
