* {
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.cursor {
  cursor: pointer;
}
