.follow-info-container h6 {
  font-weight: 600;
  font-size: 14px;
}

.follow-info-container p {
  font-size: 12px;
}

.follow-profile {
  width: 4rem;
  height: 4rem;
}

.follow-btn {
  font-weight: 700;
  font-size: 14px;
}
