.profile-info h6 {
  font-weight: 600;
  font-size: 14px;
}

.profile-info p {
  font-size: 12px;
}

.side-bar-profile {
  width: 4rem;
  height: 4rem;
}

.custom-font-weight {
  font-weight: 700;
  font-size: 14px;
}
.bio-font-size {
  font-size: 14px !important;
}
